.book-details {
    display: grid;
    padding: 10px;
    background-color: orange;
    margin-block-start: 10px;
}

.book-details button {
    justify-self: end;
}

.book-details img {
    max-width: 70%;
}

.red-price {
    color: red;
}

.green-price {
    color: green;
}

.on-sale {
    padding-inline: 5px;
    margin-inline-start: 10px;
    font-weight: bold;
    color: red;
    background-color: rgb(247, 214, 154);
   
}